@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
*:focus {
  outline: none;
}

* a {
  text-decoration: none;
}

.login_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 20px 0 20px;
}
.login_body a {
  margin: 0 auto;
}
.login_body p {
  margin: 10px auto;
}

.login_logo_wrapper {
  margin: 0 auto;
  margin-bottom: 100px;
}
.login_logo_wrapper .login_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}
.login_logo_wrapper .login_logo .logo_web {
  display: none;
  width: 600px;
  transition: 0.2s;
}
@media only screen and (min-width: 850px) {
  .login_logo_wrapper .login_logo .logo_web {
    width: 800px;
  }
}
@media only screen and (min-width: 650px) {
  .login_logo_wrapper .login_logo .logo_web {
    display: flex;
  }
}
.login_logo_wrapper .login_logo .logo_mob {
  display: flex;
  width: 320px;
}
@media only screen and (min-width: 650px) {
  .login_logo_wrapper .login_logo .logo_mob {
    display: none;
  }
}

.login_input {
  width: 350px;
  height: 30px;
  margin: 0 auto 20px auto;
  border: none;
  border-radius: 12px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.login_button {
  width: 220px;
  height: 55px;
  margin: 20px auto 50px auto;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 900;
  background-color: #3c0f5f;
  color: white;
}
.login_button:hover {
  border: 1px solid #3c0f5f;
  color: #642d91;
  background-color: white;
}

.login_text {
  margin: 0 auto 120px auto;
  max-width: 500px;
}
.login_text h4 {
  font-size: 0.9em;
}
.login_text h5 {
  font-size: 0.7em;
}

.topnav_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 170px;
  background: linear-gradient(0deg, rgba(60, 15, 95, 0) 0%, rgba(60, 15, 95, 0.7) 100%);
  z-index: 1000 !important;
}
.topnav_body .topnav_logo {
  width: 200px;
  transition: 0.2s;
  margin: 10px;
}
@media only screen and (min-width: 650px) {
  .topnav_body .topnav_logo {
    width: 300px;
  }
}
.topnav_body .topnav_logo:hover {
  transform: scale(1.03);
}
.topnav_body .topnav_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 35px;
  margin: 15px;
}
.topnav_body .topnav_right input {
  display: none;
  width: 200px;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 10px 10px 13px 10px;
}
@media only screen and (min-width: 600px) {
  .topnav_body .topnav_right input {
    display: block;
  }
}
.topnav_body .topnav_right .smallavatar {
  max-width: 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: 0.4s;
}
.topnav_body .topnav_right .smallavatar:hover {
  transform: scale(1.05);
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.topnav_body .topnav_right .topnav_settings_icon {
  margin-left: 15px;
  width: 25px;
  transition: 0.5s ease 0s;
}
.topnav_body .topnav_right .topnav_settings_icon:hover {
  transform: rotate(90deg) scale(1.1);
}
@media only screen and (min-width: 600px) {
  .topnav_body .topnav_right .topnav_settings_icon {
    width: 35px;
  }
}

.hero_wrapper {
  height: 50vh;
  overflow: hidden;
  transition: 0.5s;
}
.hero_wrapper .hero_content_unit {
  overflow: hidden;
}
.hero_wrapper video {
  object-fit: cover;
  width: 100vw;
  height: 50vh;
  top: 0;
  left: 0;
  z-index: -1 !important;
}

@media only screen and (min-width: 1000px) {
  .hero_wrapper {
    height: 100vh;
    overflow: hidden;
  }
  .hero_wrapper .hero_content_unit {
    overflow: hidden;
  }
  .hero_wrapper video {
    height: 100vh;
  }
}
.gradient_wrapper {
  position: relative;
  background: linear-gradient(180deg, rgba(100, 45, 145, 0) 0%, #642d91 100%);
  height: 150px;
  margin-top: -150px;
}

.gradient_reverse_wrapper {
  background: linear-gradient(0deg, rgba(100, 45, 145, 0) 0%, #642d91 100%);
  height: 150px;
  margin-bottom: -50px;
}

.moviehero-thumb {
  width: 200px;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
}
.moviehero-thumb img {
  max-height: 220px;
}

.category_gallery_wrapper {
  overflow: hidden;
  margin-left: 20px;
  margin: -30px 20px 70px 20px;
}
.category_gallery_wrapper .category_filter_select {
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  z-index: 1 !important;
}
.category_gallery_wrapper .category_filter_select h2 {
  cursor: pointer;
  font-size: 2em;
  margin-right: 20px;
  transition: 0.2s;
}
@media only screen and (min-width: 1000px) {
  .category_gallery_wrapper .category_filter_select h2 {
    font-size: 2.8em;
    margin-right: 20px;
  }
}
.category_gallery_wrapper h2 {
  font-size: 3em;
  font-weight: 100;
  margin-bottom: 10px;
}
.category_gallery_wrapper .category_gallery_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap !important;
  overflow: hidden;
  border: 1px solid red;
}
.category_gallery_wrapper .category_gallery_container .btn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category_gallery_wrapper .category_gallery_container .movie_thumb {
  display: inline-block;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  border: 1px solid red;
}
.category_gallery_wrapper .category_gallery_container .movie_thumb img {
  margin: 10px;
  max-height: 220px;
  max-width: 100px;
  border: 1px solid red;
}

.users_content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.users_content_wrapper .users_content_align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.users_content_wrapper .users_content_align .profile-thumb {
  margin: 0 20px 20px 20px;
  width: 150px;
  height: 180px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}
.users_content_wrapper .users_content_align .profile-thumb:hover {
  transform: scale(1.05);
}
.users_content_wrapper .users_content_align .profile-thumb img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  margin-bottom: -12px;
  transition: 0.8s;
}
.users_content_wrapper .users_content_align .profile-thumb img:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.users_content_wrapper .users_content_align .profile-thumb .profilenames {
  font-size: 1em;
  font-weight: 100;
  text-align: center;
  cursor: default;
}
.users_content_wrapper .users_content_align .user_plus_sign_wrapper {
  width: 170px;
  margin-left: 20px;
}
.users_content_wrapper .users_content_align .user_plus_sign_wrapper .users_plus_sign {
  height: 200px;
  width: 70px;
  transition: 0.2s;
  opacity: 40%;
  margin-left: 40px;
  margin-top: -20px;
  cursor: pointer;
}
.users_content_wrapper .users_content_align .user_plus_sign_wrapper .users_plus_sign:hover {
  transform: scale(1.05);
  opacity: 80%;
}

.media_selector_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.media_selector_wrapper .media_selector_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.media_selector_wrapper .media_selector_item h1 {
  font-size: 4em;
  text-align: center;
  writing-mode: vertical-lr;
  margin: 0;
}

@media only screen and (min-width: 1000px) {
  .media_selector_wrapper {
    flex-direction: row;
  }
  .media_selector_wrapper .media_selector_item {
    height: 100vh;
  }
  .media_selector_wrapper .media_selector_item h1 {
    margin-top: 88vh;
    font-size: 5.5em;
    writing-mode: horizontal-tb;
    color: black;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
  .media_selector_wrapper .media_selector_item:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .media_selector_wrapper .media_selector_item:hover h1 {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
  }
}
.adl_tv {
  background-color: rgba(135, 50, 140, 0.3);
  background-image: url(../../../public/images/0_MediaSelector_Mob_Adlt_TV.png);
}

.adl_movies {
  background-color: rgba(155, 70, 160, 0.3);
  background-image: url();
}

.adl_music {
  background-color: rgba(135, 50, 140, 0.3);
  background-image: url();
}

.kids_tv {
  background-image: url();
}

.kids_movies {
  background-image: url();
}

.kids_music {
  background-image: url();
}

body {
  margin: 0;
  background: #1e2434;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: radial-gradient(circle, #641e8c 30%, #32056e 100%);
  background-size: 400%;
  animation: gradient 15s ease infinite;
  z-index: 0 !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main_body {
  margin: 0;
}

input[type=text] {
  color: #280a46;
  font-size: 1.2em;
  font-weight: bold;
}

input[type=password] {
  color: #280a46;
  font-size: 1.2em;
  font-weight: bold;
}

*::placeholder {
  font-size: 0.8em;
  color: white;
  font-weight: 100;
}

.warning_box {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: -100px auto -20px auto;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.warning_box h1 {
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 0;
  color: red;
  font-weight: 900;
}
.warning_box p {
  font-size: 0.8em;
  margin-bottom: 0;
  line-height: 1.5em;
  font-weight: 100;
}
.warning_box span {
  font-weight: bolder;
  text-decoration: underline;
}
@media only screen and (min-width: 600px) {
  .warning_box {
    margin: -150px auto -20px auto;
    max-width: 600px;
  }
}

/*# sourceMappingURL=main.css.map */
