.login_body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100vh;
    margin: 0 20px 0 20px;
    a {
        margin: 0 auto;
        // THIS SHOULD BE REMOVED ALONG WITH THE TEMP LINK ON THE LOGIN COMPONENT
    }
    p {
        margin: 10px auto;
    }
}

.login_logo_wrapper{
    margin: 0 auto;
    margin-bottom: 100px;
        .login_logo{
            display:flex;
            flex-direction:row;
            justify-content:center;
            margin-bottom: 40px;
            .logo_web{
                display:none;
                width:600px;
                transition:0.2s;
                @media only screen and (min-width: 850px){
                    width:800px;
                }
                @media only screen and (min-width: 650px){
                    display:flex;
                }
            }
            .logo_mob{
                display:flex;
                width:320px;
                @media only screen and (min-width: 650px){
                    display:none;
                }
            }
        }
}

.login_input{
    width: 350px;
    height: 30px;
    margin: 0 auto 20px auto;
    border: none;
    border-radius:12px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.login_button{
    width: 220px;
    height: 55px;
    margin: 20px auto 50px auto;
    border: 1px solid white;
    border-radius:15px;
    cursor:pointer;
    font-size: 1.2em;
    font-weight:900;
    background-color:$roku_purple_dark;
    color:white;
    &:hover{
        border: 1px solid $roku_purple_dark;
        color:$roku_purple;
        background-color:white;
    }
}

.login_text{
    margin: 0 auto 120px auto;
    max-width:500px;
    h4{
        font-size:0.9em;
    }
    h5{
        font-size:0.7em;
    }
}