<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">

    <title>Roku Streaming Service</title>
</head>
<body>
    <main id="app"> 
        
    {{!-- <h1>Roku Streaming</h1>
    <h3>The app where fantasy comes true!</h3> --}}
    <!-- this is where handlebars will inject its templates -->
    <!-- this is like a php include statement -->

    {{!-- SE VA A RENDERIZAR AQUI POR QUE TIENE 3 BRACKETS, LOS QUE TIENEN DOS SON LOS QUE SE RENDERIZAN EN ESTE --}}
    
    {{{ body }}}


    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.5.1/dist/vue-router.js"></script>
    <script type="module" src="scripts/main.js"></script>
    
</body>
</html>