<section class="home-hero">
    <!-- render the dynamic data here -->
    <img src="RokuLogo" alt="RokuLogo"><br><br>

    <input type="text" placeholder="username" v-model="username">
    <input type="password" placeholder="password" v-model="password">

        <input @click="storeCreds" type="submit" value="Sign In">

    <h4>{{ notmemberyet }}</h4>
    <h5> {{forgotpass}} </h5>

</section>