<section class="login_body">
    <!-- render the dynamic data here -->
    {{!-- <img src="./images/arri.jpg" alt="RokuLogo"><br><br> --}}
    {{!-- <router-link to="/users">Home</router-link> --}}
    <router-view></router-view>

        <div class="login_text">
            <h4> {{notmemberyet}} </h4>
            <h5> {{forgotpass}} </h5>
        </div>
</section>