<section class="home-hero">
    <!-- render the dynamic data here -->
    <h1>{{ chooseUserMessage }}</h1>

    <profilethumb v-for="item in allProfiles" :profile="item" :key="item.user_id"></profilethumb>  
    {{!-- <moviethumb v-for="item in allMovies" :movie="item" :key="item.movies_id"></moviethumb> --}}
</section>